/*especificidad -> 1*/
body{
    font: 400 1em Tahoma, sans-serif;
    line-height: 1.8;
    color: black;
    margin-left: 3em;
}

/*especificidad -> 1*/
img{
    height: 3.938em;
    width: 3.938em;
}